.footer-style {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    /*text-align: center;*/
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    color: #646363;
}

.phantom {
  display: block;
  padding: 20px;
  height: 20px;
  width: 100%;
}